body {
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FBFBFD;
}

ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 40px;
}

li {
  font-size: 12px;
  font-weight: normal;
  letter-spacing: -.01em;
  margin-left: 22px;
  margin-right: 22px;
}

.iconeapple {
  width: 44px;
  width: 30px;
}

.material-icons.md-18 { 
  font-size: 18px; 
}